Language: Cpp
BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: true
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: false
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: true
    BeforeWhile: true
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
ColumnLimit: 88
CompactNamespaces: false
DeriveLineEnding: true
FixNamespaceComments: true
IndentCaseBlocks: true
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: false
ReflowComments: false
SpaceAfterTemplateKeyword: true
Standard: Auto
UseTab: Never
